<form  class="form mat-elevation-z8">
    <h1>Deletar técnico</h1>

    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input disabled [(ngModel)]="tecnico.nome"name="nome" maxlength="50" matInput placeholder="Ex. Willian Prates">
      
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input disabled [(ngModel)]="tecnico.cpf" name="cpf" maxlength="15" matInput placeholder="Ex. 000.000.000-00">
    
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input disabled [(ngModel)]="tecnico.telefone" name="telefone" maxlength="18" matInput placeholder="Ex. (51) 99900-0000)">
        
      </mat-form-field>
  
    <button class="mat-elevation-z8"  (click)="delete()" mat-flat-button color="primary">Deletar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-flat-button color="warn">Cancelar</button>
     
  </form>